<div class="input-group mb-3">
  <input [(ngModel)]="name" class="form-control"
         placeholder="Search"
         type="text"
  />
  <button (click)="searchByName()" nz-button nzType="primary">
    <i nz-icon nzType="search"></i>
    Search
  </button>
  <button (click)="showModal()" nz-button nzType="primary" style="margin-left:1200px;color: blue">
    <span>New Cat</span>
  </button>
  <nz-modal
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="createCats()"
    [(nzVisible)]="isVisible"
    [nzOkLoading]="isOkLoading"
    nzTitle="New Cat">
    <div *nzModalContent>
      <div style="width: 500px; margin: auto;">
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label>Name : </label>
              <input [(ngModel)]="cat.name" max="100" nz-col nz-input nzSize="default" nzSpan="8" placeholder="name"
                     required type="text"/>
            </div>

            <div class="form-group">
              <label>Color : </label>
              <input [(ngModel)]="cat.color" max="100" nz-col nz-input nzSize="default" nzSpan="8"
                     placeholder="color" required type="text"/>
            </div>
          </div>

          <div *ngIf="submitted">
            <h3>You successfully created a cat!</h3>
            <button (click)="newCat()" nz-button nzType="primary">New</button>
          </div>
        </div>
      </div>
    </div>
  </nz-modal>
</div>

<nz-table>
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Color</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let catt of cats | paginate: { itemsPerPage: 3, currentPage: p } ; let i = index">
    <td>{{catt.id}}</td>
    <td>{{catt.name}}</td>
    <td>{{catt.color}}</td>

    <i (click)="showModal2(); catsDetails(cats[i].id)" nz-icon nzTheme="outline" nzType="eye"
       style="padding-right: 2em;margin-right: 6px;
        font-size: 20px ">
      <nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk2()" [(nzVisible)]="isVisible2" nzTitle="View">
        <ng-container *nzModalContent>
          <p>ID:</p> <input [ngModel]="cat.id" nz-input placeholder="Id"/>
          <p>Name:</p> <input [ngModel]="cat.name" nz-input placeholder="Name"/>
          <p>Color:</p> <input [ngModel]="cat.color" nz-input placeholder="Color"/>
        </ng-container>
      </nz-modal>
    </i>
    <i (click)="showModal3();catsDetails(cats[i].id)" nz-icon nzTheme="outline" nzType="edit"
       style="padding-right: 2em;color: black;margin-right: 6px;
        font-size: 20px;">
      <nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="updateCats(cat.id)" [(nzVisible)]="isVisible3" nzTitle="View">
        <ng-container *nzModalContent>
          <p>ID:</p><input [ngModel]="cat.id" nz-input placeholder="Basic usage"/>
          <p>Name:</p> <input [(ngModel)]="cat.name" max="100" nz-input placeholder="Basic usage" required type="text">
          <p>Color:</p> <input [(ngModel)]="cat.color" max="100" nz-input placeholder="Basic usage" required
                               type="text">
        </ng-container>
      </nz-modal>
    </i>
    <i (click)="deleteTutorial(catt.id)" nz-icon nzTheme="outline" nzType="delete" style="padding-right: 2em;color: red; margin-right: 6px;
        font-size: 20px;"></i>
    <nz-divider nzType="vertical"></nz-divider>
  </tr>
  </tbody>
</nz-table>
<div nz-row nzJustify="end">
  <nz-pagination (nzPageIndexChange)="p = $event" [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>
